<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Multi_Timer.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <userSettings>
        <Multi_Timer.My.MySettings>
            <setting name="AdjustAccuracy" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="tsAlarming" serializeAs="String">
                <value>23:59:00</value>
            </setting>
            <setting name="tsActed" serializeAs="String">
                <value>23:00:00</value>
            </setting>
            <setting name="EmptyTimeString" serializeAs="String">
                <value>--:--:--</value>
            </setting>
            <setting name="sizeSingleWord" serializeAs="String">
                <value>18, 19</value>
            </setting>
            <setting name="CertTitle0" serializeAs="String">
                <value>VCP - DCV</value>
            </setting>
            <setting name="CertContent0" serializeAs="String">
                <value>VMware Certified Professional
Data Center Virtualization 2020
Obtian at: Jan. 17th, 2020</value>
            </setting>
            <setting name="CertTitle1" serializeAs="String">
                <value>OCP - MySQL</value>
            </setting>
            <setting name="CertContent1" serializeAs="String">
                <value>Oracle Certified Professional
MySQL 5.7 Database Administrator
Obtian at: Dec. 26th, 2020"</value>
            </setting>
            <setting name="CertTitle2" serializeAs="String">
                <value>RHCE</value>
            </setting>
            <setting name="CertContent2" serializeAs="String">
                <value>Red Hat Certified Engineer
Red Hat Enterprise Linux 7
Obtian at: Jun. 19th, 2018</value>
            </setting>
            <setting name="CertTitle3" serializeAs="String">
                <value>ITIL Foundation</value>
            </setting>
            <setting name="CertContent3" serializeAs="String">
                <value>ITIL Foundation Certificate
in IT Service Management
Obtian at: Nov. 24, 2019</value>
            </setting>
            <setting name="CertTitle4" serializeAs="String">
                <value>ITSS Service Manager</value>
            </setting>
            <setting name="CertContent4" serializeAs="String">
                <value>Information Technology Service Standards
IT Service Manager
Obtian at: Jun, 21st, 2020</value>
            </setting>
        </Multi_Timer.My.MySettings>
    </userSettings>
</configuration>